/* background repeat width error on half screen */
#wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 960px 1fr;
    grid-template-rows: 100px 4fr 100px;
}

body{
    background-image: url("../images/pipes.png");
    background-repeat: repeat;
}

.header {
    grid-area: 1/1/1/4;
    border-bottom: 2px solid #ccc;
    align-items: center;
    align-content: center;
    display: grid;
    background-color: #fff;
    top: 0;
    overflow: hidden;
}

.body {
    border: 2px solid #ccc;
    grid-area: 2/2/2/3;
    display: grid;
    grid-template-rows: 100px 4fr;
    max-width: 100%;
    background-color: #fff;
    grid-gap: 1em;
}

.body-header{
    border-bottom: 2px solid #ccc;
    width: 90%;
    margin: 0 auto;
}

.body-body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footer {
    border-top: 7px solid #4aaaa5;
    grid-area: 3/1/3/4;
    background-color: #666666;
    max-height: 100px;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 160px;
    white-space: nowrap;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}

.name {
    margin-left: 15%;
    background-color: #4aaaa5;
    width: 200px;
    height: 56%;
    text-align: center;
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10%;
}

.buttons {
    display: block;
    margin-left: 18%;
    text-align: center;
    margin-top: -75px;
    padding: 2px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.about-btn {
    text-decoration: inherit;
    color: inherit;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #fff;
    padding: 15px 30px;
    background: linear-gradient(to right, #4aaaa5 50%, #fff 50%);
    background-position: right bottom;
    border-left: 0.20em solid #4aaaa5;
    transition: all 1s ease-out;
    background-size: 200% 100.5%
}

.about-btn:hover {
    background-position: left bottom;
    color: white;
}

.portfolio-btn {
    text-decoration: inherit;
    color: inherit;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #fff;
    padding: 15px 30px;
    background: linear-gradient(to right, #4aaaa5 50%, #fff 50%);
    background-position: right bottom;
    border-left: 0.20em solid #4aaaa5;
    transition: all 1s ease-out;
    background-size: 200% 100.5%
}

.portfolio-btn:hover {
  background-position: left bottom;
  color: white;
}

.contact-btn {
    text-decoration: inherit;
    color: inherit;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    border: none;
  background-color: #fff;
  padding: 15px 30px;
  background: linear-gradient(to right, #4aaaa5 50%, #fff 50%);
  background-position: right bottom;
  border-left: 0.20em solid #4aaaa5;
  transition: all 1s ease-out;
  background-size: 200% 100.5%
}

.contact-btn:hover {
  background-position: left bottom;
  color: white;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
}


h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

.profile-picture {
    margin-top: 10px;
    margin-left: 10px;
    border: 3px solid #4aaaa5;
    width: 20%;
    height: 50%;
}

.content1 {
    float: right;
    width: 75%;
}



/* Portolio Page */

.hangman {
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    width: 50%;
    height: 50%;
}

.hangman-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.hangman-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}

.rpg {
    position: relative;
    float: right;
    margin-top: -205px;
    margin-right: 220px;
}

.rpg-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.rpg-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}

.trivia {
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.trivia-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.trivia-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}

.widget {
    position: relative;
    float: right;
    margin-top: -205px;
    margin-right: 220px;
}

.widget-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.widget-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}

.rock {
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.rock-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.rock-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}




/* Contact Page */

.message {
    width: 50%;
    height: 200px;
}

.form {
    margin-left: 50px;
}

.contact-submit{
    height: 40px;
    width: 80px;
    border: none;
    background-color: #4aaaa5;
    color: white;
    margin-bottom: 10px;
}

.contact-submit:hover{
    box-shadow: 2px 5px 5px black;
}

.name-input{
    width: 80%;
    max-width: 600px;
}

.email-input{
    width: 80%;
    max-width: 600px;
}

.message{
    width: 80%;
    max-width: 600px;
}


/* Media Queries */

@media (max-width: 980px){

    #wrapper{
        width: 100%;
    }
    .header{
        float: center;
        width: 100%;
    }
    .body{
        width: 700px;
    }
    .footer{
        width: 100%;
        overflow: hidden;
        left: 0;
    }

    .body-body{
        width: 700px;
    }

    .body-header{
        width: 650px;
    }


    /* About Page */
    .profile-picture {
        margin-right: 10px;
        float: left;
    }

    .content2{
        display: inline-block;
    }

    /* Portfolio Page */
    .hangman{
        margin-left: 75px;
    }

    .rpg{
        margin-right: 75px;
        float: right;
    }

    .trivia{
        margin-left: 75px;
    }

    .widget{
        margin-right: 75px;
    }

    .rock{
        margin-left: 225px;
        margin-bottom: 20px;
    }

}

@media (max-width: 768px){
    /* General Layout */
    #wrapper{
        width: 668px;
    }
    .header{
        float: center;
        width: 740px;
    }
    .body{
        width: 668px;
    }
    .footer{
        width: 740px;
        left: 0;
    }
 
    .buttons{
        margin-left: 290px
    }

    .body-body{
        width: 668px;
    }

    .body-header{
        width: 630px;
    }


    /* About Page */
    .profile-picture {
        margin-right: 10px;
        float: left;
    }


    .content1{
        float: left;
    }

    .content2{
        display: inline-block;
    }

    /* Portfolio Page */
    .hangman{
        margin-left: 75px;
    }

    .rpg{
        margin-right: 75px;
        float: right;
    }

    .trivia{
        margin-left: 75px;
    }

    .widget{
        margin-right: 75px;
    }

    .rock{
        margin-left: 208.5px;
        margin-bottom: 20px;
    }

}

@media (max-width: 640px){

    /* General Layout */
    #wrapper{
        width: 500px;
    }
    .header{
        width: 620px;
        height: 180px;
    }
    .body{
        margin-top: 100px;
        width: 550px;
    }
    .footer{
        width: 620px;
        z-index: 1;
    }
    .name{
        top: 0;
        width: 600px;
        margin-left: 0;
    }
    .buttons{
        margin-top: 25px;
        margin-left: 0;
        padding-bottom: 20px;
    }
    .body-body{
        width: 600px;
    }
    .body-header{
        width: 500px;
        margin-left: 20px;
        margin-right: 20px;
    }


    /* About Page */
    .profile-picture {
        height: 50%;
        width: 70%;
        margin-left: 60px;
    }
    .content1{
        width: 90%;
        margin-right: 25px;
        display: inline-block;
        text-align: center;
    }

    .content2{
        display: inline-block;
        width: 90%;
        text-align: center;
    }

    /* Portfolio Page */
    .hangman{
        margin-left: 100px;
        margin-top:20px;
    }

    .hangman-img{
        width: 350px;
        height: 300px;
    }

    .hangman-btn{
        width: 350px;
    }

    .rpg{
        margin-top: 20px;
        margin-right: 150px;
        margin-bottom: 20px;
    }

    .rpg-img{
        width: 350px;
        height: 300px;
    }

    .rpg-btn{
        width: 350px;
        margin-left: -25px;
        z-index: 1;
    }

    .trivia{
        margin-top: 20px;
        margin-left: 100px;
    }

    .trivia-img{
        width: 350px;
        height: 300px;
    }

    .trivia-btn{
        bottom: 5%;
        width: 350px;
    }

    .trivia-btn:hover {
        bottom: 6%;
    }

    .widget{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 150px;
    }

    .widget-img{
        width: 350px;
        height: 300px;
    }

    .widget-btn {
        z-index: 1;
        width: 350px;
    }

    .rock{
        margin-top:20px;
        margin-bottom: 20px;
        margin-left: 100px;
    }

    .rock-img{
        width: 350px;
        height: 300px;
    }

    .rock-btn{
        bottom: 5%;
        width: 350px;
    }

    .rock-btn:hover {
        bottom: 6%;
    }
}